# Gradle Wrapper (Boilerplate Only - Remove from your project!)
gradle/wrapper

# Gradle Build Files #
.gradle/
build/

# Class Files #
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Eclipse Files #
.externalToolBuilders/
.metadata/
.settings/
bin/
RemoteSystemsTempFiles/
tmp/
*.bak
*.launch
*.swp
*.tmp
.buildpath
.classpath
.cproject
.factorypath
.loadpath
.project
.target
local.properties

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
